<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>
	<div>
		<h1 th:text="${message}"></h1>
		
	</div>
	
</body>
</html>